html {
    position: relative;
    min-height: 100%;
  }

.huge {
    font-size: 40px;
}

body > #app > .container, {
    margin-top: 100px;
    margin-bottom: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
}

@include media-breakpoint-down(xs) {
    body > #app > .container, {
        margin-bottom: 320px;
    }
}

body > #app > .container-fluid {
    padding-bottom: 15px;
    padding-top: 15px;
}
