/.phpunit.cache
/node_modules
/public/storage
/public/hot
/public/css
/public/fonts
/public/js
/public/mix-manifest.json
public/media/
public/build/
/vendor
/.idea
/.vagrant
.env
.php_cs.cache
/storage/debugbar
/storage/tmp
/storage/medialibrary
/log
.phpunit.result.cache
pint.json
storage/media-library/temp
