/node_modules
/public/storage
/public/hot
public/media/
/vendor
/.idea
/.vagrant
.env
.php_cs.cache
/storage/debugbar
/storage/tmp
/storage/medialibrary
/log
.phpunit.result.cache
/public/vendor/telescope/*
/resources/lang/vendor/backup/*
/public/vendor/horizon/*
